In [41]:
import pandas as pd
import io
import requests
import numpy as np

In [128]:
# download breaths csv files into one single dataframe
df_breaths = pd.DataFrame()
for i in range(1,54):
    if i<10:
        counter = '0'+str(i)
    else:
        counter = str(i)
    url="https://physionet.org/physiobank/database/bidmc/bidmc_csv/bidmc_"+counter+"_Breaths.csv"
#     print(url)
    c=pd.read_csv(url)
    c["user_id"] = counter
    c["delta_ann1"] = c["breaths ann1 [signal sample no]"].diff()
    c["delta_ann2"] = c[" breaths ann2 [signal sample no]"].diff()
    c['ann1_prev_breath'] = c['breaths ann1 [signal sample no]'].shift(1)
    c['ann2_prev_breath'] = c[' breaths ann2 [signal sample no]'].shift(1)
    
    #print(c.head(1))
    df_breaths = df_breaths.append(c, ignore_index=True)

In [130]:
# save the consolidated files as csv
df_breaths.to_csv("./data/breaths.csv", index = False)

In [6]:
# download and consolidate numerics csv files into one single dataframe
df_numerics = pd.DataFrame()
for i in range(1,54):
    if i<10:
        counter = '0'+str(i)
    else:
        counter = str(i)
    url="https://physionet.org/physiobank/database/bidmc/bidmc_csv/bidmc_"+counter+"_Numerics.csv"
    c=pd.read_csv(url)
    c["user_id"] = counter
    df_numerics = df_numerics.append(c, ignore_index=True)

In [7]:
df_numerics.head()

   Time [s]    HR   PULSE   RESP   SpO2 user_id
0         0  94.0    93.0   25.0   97.0      01
1         1  94.0    93.0   25.0   97.0      01
2         2  94.0    93.0   25.0   97.0      01
3         3  92.0    93.0   26.0   97.0      01
4         4  93.0    93.0   26.0   97.0      01

In [8]:
#save the consolidated files as csv
df_numerics.to_csv('./data/numerics.csv', index = False)

In [9]:
df_signal = pd.DataFrame()
for i in range(1,54):
    if i<10:
        counter = '0'+str(i)
    else:
        counter = str(i)
    url="https://physionet.org/physiobank/database/bidmc/bidmc_csv/bidmc_"+counter+"_Signals.csv"
    c=pd.read_csv(url)
    c["user_id"] = counter
    c["signal_patient_index"] = c.index
    df_signal = df_signal.append(c, ignore_index=True)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:6701: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [13]:
# rounding off to the last integer value
df_signal['time'] = df_signal['Time [s]'].apply(np.floor).astype(int)

In [101]:
df_signal.head()

,ABP,ART,AVR,CVP,I,II,III,MCL,PLETH,RESP,V,Time [s],signal_patient_index,user_id,time
0,NaN,NaN,0.30392,NaN,NaN,0.72549,NaN,NaN,0.43597,0.35386,0.52549,0.000,0,1,0
1,NaN,NaN,0.33529,NaN,NaN,0.67059,NaN,NaN,0.43206,0.35679,0.51961,0.008,1,1,0
2,NaN,NaN,0.37451,NaN,NaN,0.60980,NaN,NaN,0.42815,0.35875,0.51569,0.016,2,1,0
3,NaN,NaN,0.41961,NaN,NaN,0.55098,NaN,NaN,0.42424,0.36168,0.50588,0.024,3,1,0
4,NaN,NaN,0.44902,NaN,NaN,0.50000,NaN,NaN,0.42131,0.36364,0.50980,0.032,4,1,0

In [105]:
df_numerics.head()

   Time [s]    HR   PULSE   RESP   SpO2 user_id
0         0  94.0    93.0   25.0   97.0      01
1         1  94.0    93.0   25.0   97.0      01
2         2  94.0    93.0   25.0   97.0      01
3         3  92.0    93.0   26.0   97.0      01
4         4  93.0    93.0   26.0   97.0      01

In [109]:
df_numerics['user_id'] = df_numerics['user_id'].astype(int)

In [15]:
# save consolidated signals file to csv
df_signal.to_csv('./data/signals.csv', index = False)

In [96]:
# df_signal = pd.read_csv('./data/signals.csv')